<%- include('include/_header')%>
<div class="d-flex">
  <%- include('include/_sidebar')%>
  
  <div class="w-100" >
    <%- include('include/_navbar')%>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
      </ol>
    </nav>
    
    <div class="" id="content">
      <section class="bg-mix">
        
        <div class="container">
          <div class="card rounded-0">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 d-flex stat my-3">
                  <div class="mx-auto">
                    <h6 class="text-muted">
                      Usuarios
                    </h6>
                    <h3 class="font-weight-bold">
                      50
                    </h3>
                    <h6 class="text-success">
                      85%
                    </h6>
                  </div>
                </div>
                <div class="col-lg-6 d-flex my-3">
                  <div class="mx-auto">
                    <h6 class="text-muted">
                      Usuarios
                    </h6>
                    <h3 class="font-weight-bold">
                      50
                    </h3>
                    <h6 class="text-success">
                      85%
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg-grey">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 my-3">
                    <div class="card rounded-0">
                        <div class="card-header bg-light">
                        <h6 class="font-weight-bold mb-0">
                          Estadísticas de mediciones
                        </h6>
                    </div>
                        <div class="card-body chart-gr">
                          <canvas id="myChart" width="250" height="250"></canvas>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 my-3">
                  <div class="card rounded-0">
                    <div class="card-header bg-light">
                        <h6 class="font-weight-bold mb-0">
                          Datos
                        </h6>
                    </div>
                    <div class="card-body">
                      <div class="d-block border-bottom py-2">

                        <div class="align-self-center mb-0">
                          <h6 class=" mb-0 text-muted ">
                            Temperatura media
                          </h6>
                          <h3 class="font-weight-bold">
                            26.5 °C
                          </h3>

                        </div>
                        
                        <div>

                        </div>
                      </div>

                      <div class="d-block border-bottom py-2">

                        <div class="align-self-center mb-0">
                          <h6 class=" mb-0 text-muted">
                            Distancia Sensor
                          </h6>
                          <h3 class="font-weight-bold">
                            0.5 m
                          </h3>

                        </div>
                        
                        <div>

                        </div>
                      </div>
                      <div class="d-block border-bottom py-2">

                        <div class="align-self-center mb-0">
                          <h6 class=" mb-0 text-muted">
                            Raspberry Pi Work
                          </h6>
                          <h3 class="font-weight-bold">
                            5h 10min 
                          </h3>

                        </div>
                        
                        <div>

                        </div>
                      </div>
                      <div class="d-block border-bottom py-2">

                        <div class="align-self-center mb-0">
                          <h6 class=" mb-0 text-muted">
                            Alerts
                          </h6>
                          <h3 class="font-weight-bold">
                            0.5%
                          </h3>

                        </div>
                        
                        <div>

                        </div>
                      </div>
                      <!---->
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModalCenter">
                        Generar Reporte
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Reporte</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form action=""> 
                              <div class="modal-body">
                              <div class="form-row">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                  <label for="fechaInicio">Fecha de inicio</label>
                                  <input class="form-control" type="date" id="fechaInicio" name="fechaInicio"  autofocus required>
                            </div>
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                  <label for="fechaFin">Fecha final</label>
                                  <input class="form-control" type="date" id="fechaFin" name="fechaFin" required>
                            </div>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div></form>
                            
                          </div>
                        </div>
                      </div>


                                            <!---->

                    </div>
                  </div>

                </div>
            </div>
        </div>
      </section>


    </div>
   </div>
   <!--Dashboard - content/ -->
</div>
<script>
  document.getElementById("fechaFin").valueAsDate = new Date();
</script>

<%- include('include/_footer')%>
