<%- include('include/_header')%>

<!-- Search user -->


<div class="d-flex">

  <%- include('include/_sidebar')%>




     <div class="w-100">
          <%- include('include/_navbar')%>
          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Temperatura</li>
                 <li class="breadcrumb-item active" aria-current="page">Buscar</li>
               </ol>
          </nav> 
          <div class="form-title text-center">
               <h2 class="text-dark">Buscar mediciones de temperatura por usuario</h2>
               <!-- <span>Busque un nuevo usuario a partir de su cédula</span> -->
          </div>

          <form method="GET" id="search_user_btm" >
               <div>
                    <div class="form-group">
                         <label for="cedula">Cédula</label>
                         <input type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control" required>
                    </div>
                    <div class="form-group">
                         <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
               </div>
          </form>
     </div>


</div>

     


<%- include('include/_footer') %>