<%- include('include/_header')%>

<!-- Search user -->


<div class="d-flex">
  <%- include('include/_sidebar')%>

     <div class="w-100">
          <%- include('include/_navbar')%>
          <nav aria-label="breadcrumb">
               <ol class="breadcrumb" >
                 <li class="breadcrumb-item"><a href="/user/home">Dashboard</a></li>
                 <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
                 <li class="breadcrumb-item active" aria-current="page">Buscar</li>
               </ol>
          </nav> 
          
          <div class="container-sm mt-5 w-50">
               <div class="card">
                    <div class="card-header">
                         <h4 class="text-dark">Buscar usuario</h4>
                    </div>
                    <div class="card-body">
                         <form class="my-2 my-lg-0 form-group"  method="GET" id="search_user">
                              <label>Busque un nuevo usuario a partir de su cédula:</label>
                              <br>
                              <input onpaste="return false" maxlength="10" type="text" name="cedula" id="cedula" placeholder="Cedula" class="form-control w-50" onkeypress="return valideKey(event);" autofocus required>
                              <br>
                              <button type="submit" class="btn btn-primary">Buscar</button>
                         </form>
                    </div>
                  </div>
              </div>

         
     </div>
</div>

<%- include('include/_footer') %>