<nav class="navbar navbar-expand-lg navbar-light bg-light ">

     <div class="container-fluid mr-5">
            
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="container-fluid  position-relative my-2 d-inline-block" id="welcomeAdmin">    
     </div>
   
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav ml-auto">
            
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img src="/img/user-avatar.png" alt="" class="img-fluid rounded-circle avatar mr-2">  
             <%= locals.adminEmail ? adminEmail: "Admin" %>
           </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             <a class="dropdown-item" href="/user/<%= adminId %>">Mi perfil</a>
             <a class="dropdown-item" href="/btm/measurements/<%= adminId %>">Mis mediciones</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="/auth/logout">Cerrar Sesión</a>
           </div>
         </li>
         
       </ul>
      
     </div>
 </div>
   </nav>