@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Dosis:300,400,700,800&family=Open+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  --dark: #2b2d42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
  --grey: #efefef;
  --principal:  #2868d6 ;
}
.bg-primary{background-color: var(--principal)!important;}
#header nav{
  background-color: #06d6a0;
  padding: 1em 0;
  width: 100%;
}

#site-main{
  margin-top: 4em;
}

.table tr:hover{
  background-color: whitesmoke;
}

.table .thead-dark th{
  color: #fff;
  background-color: var(--dark);
  border-color: #32383e;
}


/* Css configs for login page*/
body{
     font-family: 'Poppins', sans-serif;
}
#content{
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}
.chart-gr{
  width: 60%;
  
  
}
.stat{
  border-right: 1px solid var(--grey);
}

/*-- LOGIN -- */
.container-log {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.container-log:before{
  content: "";
  position: absolute;
  height: 2150px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  border-radius: 50%;
  z-index: 6;
 

}
.forms-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}

.title{
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field{
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.1rem;

}
.input-field i{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.1rem;
  
}

.input-field input{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  border-top-right-radius:50px ;
  border-bottom-right-radius:50px ;
  

}

.input-field input::placeholder{
  color: #aaa;
  font-weight: 500;
}

.btn{
  width: 150px;
  height: 49px;
  border: none;
  outline: none;
  border-radius: 49px;
  cursor: pointer;
  background-color: #5995fd;
  color:#fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: .5s;
}

.btn:hover{
  background-color: #4d84e2;
}

.signin{
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
 
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}


.panel .content {
  color: #fff;
  
}
 .image {
  width: 800px;
}
.container-log.signin {
  left: 25%;
}


/*-- LOGIN--- END */

.center-div{
     padding-top: 10%;
}

.btn.btn-success{
     padding: .4em 2em;
}

form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
form.sign-in-form{
  z-index: 2;
}

/*#login .title > span{
     font-size: .8em;
}*/


/* Css configs for dashboard*/
#sidebar-container {
     position: relative;
     min-height: 100vh;
     padding: .875rem 1.25rem;
     left: 0;
     overflow-x: hidden;
     overflow-y: auto;
     background: #1a1a1a;
     color: #fff;
   }
   
.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  width: 18rem;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}
.avatar{
  width:35px;
}

a {
  text-decoration: none;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574A9;
  position: absolute;
  content: '';
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}

/* Css configs for addUser and updateUser page*/

.form-title{
  margin-top: 2em;
}

.form-title > h2{
  padding: .5em 0;
}


#add_user .form-group,
#search_user .form-group,
#updateUserInfo .form-group,
#updateUserEmail .form-group,
#updateUserPasswd .form-group{
  max-width: 700px;
  margin: auto;
  margin: .4em 0;
  width: 100%;
  padding: .6em 1em;
  margin: .5em 0;
}

#img_uploaded{
  width: 150px; 
  height: 150px;
  object-fit: contain;
}

#label_uphoto{
  background-color: #2574A9;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#adminCredentials {
  display: none;
}

/*Card*/

.card-body h6,h3{
  text-align: center;

}
